@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 解决IOS默认滑动很卡的情况 */
  -webkit-overflow-scrolling: touch;
}
/* 禁止缩放表单 */
input[type="submit"],
input[type="reset"],
input[type="button"],
input {
  resize: none;
  border: none;
}
/* 取消链接高亮  */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
/* 图片自适应 */
img {
  width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  display: block;
  -ms-interpolation-mode: bicubic;
  /*为了照顾ie图片缩放失真*/
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F1F1F1;
}
em,
i {
  font-style: normal;
}
ul,
li {
  list-style-type: none;
}
strong {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #969696;
  display: inline-block;
  font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:hover {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: 'Microsoft YaHei';
}
img {
  border: none;
}
input {
  font-family: 'Microsoft YaHei';
}
/*单行溢出*/
/*多行溢出 手机端使用*/
/* 水平垂直居中的公共类 */
/* 水平居中公共类 */
/* 垂直居中公共类 */
body {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}
.head {
  height: 5rem;
  background-color: #fff;
}
.head > .title {
  height: 2.45rem;
  background-color: #FF841D;
  position: relative;
}
.head > .title > img:nth-child(1) {
  left: 0.825rem;
  width: 9.275rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.head > .title > img:nth-child(2) {
  right: 0.35rem;
  width: 1.7rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.head .search {
  height: 1.5rem;
  padding: 0 0.5rem;
  padding-top: 0.7rem;
}
.head .search input {
  float: left;
  width: 14.25rem;
  height: 100%;
  text-indent: 1rem;
  font-size: 0.5rem;
  background-color: #F1F1F1;
  border-radius: 1.5rem;
  outline: 0 none;
}
.head .search button {
  float: right;
  width: 3.175rem;
  height: 100%;
  background-color: #FF841D;
  border-radius: 1.5rem;
  font-size: 0.6rem;
  color: #fff;
  border: none;
  outline: 0 none;
}
.nav {
  padding-bottom: 0.575rem;
  background-color: #fff;
  margin-top: .5rem;
  overflow: hidden;
}
.nav .box {
  height: 3.475rem;
}
.nav .box div > a {
  width: 100%;
  height: 100%;
}
.nav .box:nth-child(1) {
  margin-top: 1.225rem;
}
.nav .box > div:nth-last-child(-n+8) {
  margin-top: 0.875rem;
}
.nav .box > div:nth-last-child(-n+4) {
  display: none;
}
.nav .box > div {
  float: left;
  position: relative;
  text-align: center;
  width: 25%;
  height: 3.475rem;
}
.nav .box > div img {
  width: 2.55rem;
  height: 2.55rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav .box > div p {
  white-space: nowrap;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.45rem;
  color: #000;
}
.sale {
  height: 1.7rem;
  padding: 0 0.25rem;
  box-sizing: border-box;
  position: relative;
  background-color: #FFA229;
}
.sale > p {
  left: 0.375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 0.6rem;
}
.sale > span {
  right: 0.375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sale span {
  height: 1.125rem;
}
.sale .morePic {
  width: 1.05rem;
  height: 1.125rem;
  background: url(../images/home_r2_c2.png) no-repeat;
  background-size: 1.05rem;
}
.goods {
  overflow: hidden;
}
.goods .content {
  height: 6.425rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}
.goods .left {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.goods .left img {
  height: 5rem;
  width: auto;
}
.goods .right {
  width: 13.75rem;
  height: 100%;
  position: absolute;
  right: 0;
}
.goods .right > p:nth-child(1) {
  color: #000;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 0.9rem;
}
.goods .right > p:nth-child(2) {
  color: #FF4800;
  font-size: 0.7rem;
}
.goods .right .discuss {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 1.5rem;
  color: #cccccc;
  font-size: 0.6rem;
}
.goods .right .discuss > span:nth-child(2) {
  position: absolute;
  right: 0.375rem;
}
.privilege > a {
  display: block;
  width: 17.725rem;
  height: 1.475rem;
  line-height: 1.475rem;
  text-align: center;
  color: #000;
  margin: 0 auto;
  border: 1px solid #ccc;
  outline: 0 none;
  font-size: 0.6rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 0.55rem;
}
.foot {
  height: 7.75rem;
  overflow: hidden;
}
.foot > .sale {
  margin-top: 0.55rem;
}
.foot > .sale span {
  height: 1.125rem;
}
.foot > .sale .morePic {
  width: 1.05rem;
  height: 1.125rem;
  background: url(../images/home_r2_c2.png) no-repeat;
  background-size: 1.05rem;
}
.foot .login {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  height: 1.625rem;
  line-height: 1.625rem;
  overflow: hidden;
}
.foot .login > span {
  text-align: center;
  display: block;
  float: left;
  font-size: 0.6rem;
  font-weight: 700;
  color: #000;
}
.foot .login > span:nth-child(1) {
  width: 30%;
}
.foot .login > span:nth-child(2) {
  width: 30%;
  box-sizing: border-box;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.foot .login > span:nth-child(3) {
  width: 40%;
}
.foot .login > span:nth-child(3) a {
  color: #000;
}
.foot .mobile {
  padding-top: 0.825rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.6rem;
}
.foot .mobile > span {
  font-weight: 700;
}
.foot .mobile > span:nth-child(1) {
  color: #FF091B;
}
.foot .mobile > span:nth-child(2) {
  color: #000;
  margin: 0 0.375rem;
}
.foot .mobile > span:nth-child(3) {
  color: #ccc;
}
